.c-mainbody{
    font-family: Arial, sans-serif;
    background-color: #f7ead5;
    padding: 40px 20px;
}
.c-mainbody h2{
    font-size: 1.8rem;
    font-weight: bold;
    color: #1e1e1e;
    margin-bottom: 25px;
    font-family: cursive;
    align-self: flex-start;
}
.c-card{
    max-width: 900px;
    margin: 0 auto; 
    background-color: #ffffff;
    padding: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    display: flex;
    gap: 40px;
    margin-bottom: 80px;
    align-items: center;
}
.c-info{
    flex: 1;;
}
.c-image{
    flex: 1;
}

.c-image img{
    width: 100%;
    height: auto;
    display: block;
}
.c-titlebox{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}
.c-accentbar{
    width: 5px;
    height: 50px;
    background-color: #007bff;
}
.c-title h3{
    font-size: 22px;
    font-weight: bold;
    color: #007bff;
    font-family: cursive;
    margin-bottom: 5px;
}
.c-title h4{
    font-size: 18px;
    color: #333;
}
.c-discription{
    line-height: 1.6;
    color: #555;
    margin-bottom: 1em;
}
.c-image{
    max-width: 100%;
    height: auto;
}
@media (max-width: 768px){
    .c-card{
        flex-direction: column;
    }
    .c-info
    .c-image{
        flex: 1;
    }
}