.body-contents{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    width: 100%;
}
.body-parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    height: auto;
    width: 100%;
    font-family: cursive;
    font-size: 1.2rem;
    margin-bottom: 50px;
}
.body-parent h2{
  align-self: start;
  margin-left: 10px;
  margin-top: 40px;
}
.project-styles{
    font-family: cursive;
    font-size: 1.2rem;
    color: #252525;
    text-align: center;
    padding: 10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    border-radius: 8px;
    background-color: rgb(240, 240, 240);
    width: 450px;
    height: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;
}
.project-styles:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.card-details-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 22, 0.85);
  color: #f0f0f0;
  z-index: 2;
  opacity: 10; 
  display: flex;
  transition: opacity 0.4s ease-in-out;
  border-radius: 8px;
}
.card-details-content {
  padding: 25px;
  opacity: 1;
  transform: translateY(20px);
  border-radius: 2%;
  transition: opacity 0.4s ease-in-out 0.2s, transform 0.4s ease-in-out 0.2s; /* Delayed transition */
}