.main-body{
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
}
.main-body h2{
    font-size: 1.8rem;
    font-weight: bold;
    color: #1e1e1e;
    margin-bottom: 25px;
    margin-top: 40px;
    font-family: cursive;
    align-self: flex-start;
    margin-left: 10px;
}
.edu-card{
    background-color: #ffffff;
    padding: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    display: flex;
    gap: 40px;
}
.edu-detail{
    flex: 1;
    min-width: 200px;
}
.edu-date{
    font-size: 20px;
    color: #007bff;
    margin-bottom: 10px;
    font-weight: bold;
}
.edu-dis{
    flex: 2;
}
.uni-info{
    margin-top: 10px;
    color: #555;
    line-height: 1.5;
}
.edu-dis p{
    margin: 0 0 1em 0;
    line-height: 1.6;
    color: #333;
}
@media (max-width: 768px) {
    .edu-card {
        flex-direction: column; /* Stacks the columns on top of each other */
    }
}