.footer-card{
    padding: 20px 50px;
    background-color: #f7ead5;
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
}
.foot-left{
    font-size: 12px;
    color: #252525;
    flex-basis: 40%;
    justify-self: flex-start;
    font-family: monospace;
}
.foot-right{
    gap: 80px;
    display: flex;
    flex-basis: 60%;
    justify-content: flex-end;
}
.footer-left p {
    margin: 2px 0;
}
.bo{
    font-weight: bold;
    font-family: monospace;
    margin-bottom: 5px;
    text-align: center;
}
.li{
    font-family: monospace;
}
.right-three a{
    margin-right: 15px;
    color: #252525;
    font-size: 12px;
    transition: color 0.3s ease;
}
@media (max-width: 768px){
    .footer-card{
        flex-direction: column;
        height: auto;
        text-align: center;
        gap: 20px;
    }
    .foot-left, .foot-right{
        flex-basis: 100%;
        justify-self: center;
        justify-content: center;
    }
    .foot-right{
        gap: 40px;
    }
}